body{
				background-image:url(img/bg1.jpg);
				background-size: cover;
				
			}
			*{
				margin: 0;
				padding: 0;
				border:0 ;
			}
			.box{
				margin-top: 50px;
			}
			#like {
				background-image: linear-gradient(30deg,rgb(236, 134, 151),rgb(230, 177, 199),rgb(224, 129, 188));
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				width: 600px;
				height: 200px;
				position: relative;
				font-size: 70px;
				
				font-weight: bold;
				
				text-align: center;
				margin: 0 auto;

				
			}
			#love{
				background-image: linear-gradient(30deg,rgb(236, 134, 151),rgb(224, 100, 188),rgb(230, 150, 190));
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				margin-top:40px;
				border-radius: 25px;
				width: 700px;
				height:80px;
				text-decoration: none;
				margin: 0 auto;
				text-align: center;
				margin-top: -150px;
				padding-top: 55px;
				color: aliceblue;
				font-size: 40px;}
				#wj{
					
					width: 70vw;
					height:45vh;
					border: 1px solid white;
					overflow: hidden;
					padding: 2vw;
					border-radius: 0.5vw;
					background: url(img/bg.jpg) no-repeat;
					background-size: cover;
					box-shadow: 1vw 1vw 3vw #fdd5fd,1vw 1vw 3vw #fdd5fd;
					margin: 0 auto;
					margin-top: 30px;
					color: aliceblue;
					font-size: 5vw;
					overflow: auto;
				}
				#jk{
					
					width: 650px;
					height: 100px;
					margin: 0 auto;
					margin-top: 50px;
					text-align: center;
					color: aliceblue;
					font-size: 35px;
					background-image: linear-gradient(30deg,rgb(224, 129, 188),rgb(236, 134, 151),rgb(230, 80, 220));
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					;
					
				}
				@media (max-width:678px) {
					
			body{
				background:url(img/bg2.jpg)no-repeat;
				background-size: cover;
			}
			#wj{
					box-shadow: 1vw 1vw 3vw #fdd5fd,1vw 1vw 3vw #ee8fd6;
				}
			#love{
				position: relative;
				font-size: 5vw;
				right: 19%;
				font-weight: 700;
				font-family: "幼圆";
			}
}
